<div class="container mt-3">
  <div class="d-flex row mb-5">
    <div class="col text-left">
      <%= link_to I18n.t(:add_new_menu), new_admin_pdf_file_path, class: "btn btn-primary mb-3" %>
    </div>
    
    <div class="col text-right">
      <%= link_to root_path, class: "btn btn-primary" do %>
        <%= I18n.t(:home) %>
      <% end %>

      <% if current_user %>
        <%= link_to I18n.t(:logout), admin_logout_path, class: "btn-danger btn btn-primary  mr-3" %>
      <% else %>
        <%= link_to I18n.t(:login), admin_login_path, class: "btn-success btn btn-primary mr-3" %>
      <% end %>

       <%= render 'pages/tamplates/lang_bar' %>
    </div>
  </div>

  <% if @pdf_objects.any? %>
    <% @pdf_objects.group_by{ |hash| hash[:locale] }.each do |group| %>
      <h1 class="text-center"><%= I18n.t(:menu_list, locale: group.first.to_s)  %></h1>
      <table  class="table">
        <tbody>
          <% group.second.each do |pdf_file| %>
            <tr>
              <td><%= link_to pdf_file[:name].split('/')[1], pdf_file[:file_url], class: "open-pdf-link", target: "_blank" %></td>
              <td><%= pdf_file[:locale] %></td>
              <td class="text-right"><%= button_to I18n.t(:delete), admin_pdf_file_path(pdf_file[:model]), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% else %>
    <p>No PDF files uploaded.</p>
  <% end %>
</div>
