<script>
  function resize() {
    const screenWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

    if (screenWidth > 981) { // iphone SE
      document.getElementById('full_size').classList.remove('d-none')
      document.getElementById('mobile').classList.add('d-none')
    } else {
      document.getElementById('full_size').classList.add('d-none')
      document.getElementById('mobile').classList.remove('d-none')
    }
  }

  window.addEventListener('resize', function() {
    resize();
  });

  document.addEventListener('DOMContentLoaded', function() {
    resize();
  });
</script>

<div class="container">
  <div class="d-flex justify-content-end align-items-start">
    <div class="language-selector">
      <%= link_to t('layouts.language.english'), url_for(locale: :en) %>
      <%= ' | ' %>
      <%= link_to t('layouts.language.ukrainian'), url_for(locale: :uk) %>
    </div>
  </div>
</div>

<div id='full_size'> 
  <%= render 'pages/tamplates/full_size', locals: { pdf_files: @pdf_files } %>
</div>
<div id='mobile' class='d-none'> 
  <%= render 'pages/tamplates/mobile', locals: { pdf_files: @pdf_files } %>
</div>
