<script>
  function resize() {
    const screenWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

    if (screenWidth > 981) { // iphone SE
      document.querySelectorAll('#full_size').forEach(el => { el.classList.remove('d-none') })
      document.querySelectorAll('#mobile').forEach(el => { el.classList.add('d-none') })
    } else {
      document.querySelectorAll('#full_size').forEach(el => { el.classList.add('d-none') })
      document.querySelectorAll('#mobile').forEach(el => { el.classList.remove('d-none') })
    }
  }

  window.addEventListener('resize', function() {
    resize();
  });

  document.addEventListener('DOMContentLoaded', function() {
    resize();
  });
</script>

<div class='container'>
  <div class="mt-3 text-right">
    <div id='full_size'> 
      <%= render 'pages/tamplates/lang_bar' %>
    </div>
    <div id='mobile' class='d-none'> 
      <%= render 'pages/tamplates/lang_bar_mobile' %>
    </div>
  </div>

  <div class="card border-warning mt-3" style="position: relative;">
    <div class="card-body text-warning">
      <h5 class="card-title"><%= I18n.t(:debug_info) %></h5>
      <p class="card-text"><a href="<%= admin_pdf_files_path %>"><%= I18n.t(:admin_page) %></a></p>
    </div>
  </div>
</div>

<div class="container custom-container">
  <div id='full_size'> 
    <%= render 'pages/tamplates/full_size', locals: { pdf_files: @pdf_files } %>
  </div>
  <div id='mobile' class='d-none'> 
    <%= render 'pages/tamplates/mobile', locals: { pdf_files: @pdf_files } %>
  </div>
</div>
